Xdata/*.csv
dataSort.py
notes.txt
notes.txt
team_stats_plan.txt
__pycache__/calculate_success.cpython-311.pyc
__pycache__/calculate_success.cpython-312.pyc
__pycache__/pbp_situation_model.cpython-311.pyc
__pycache__/pbp_situation_model.cpython-312.pyc
__pycache__/team_analytics.cpython-311.pyc
__pycache__/team_analytics.cpython-312.pyc
__pycache__/team_pass_rush_rating.cpython-311.pyc
__pycache__/team_pass_rush_rating.cpython-312.pyc
__pycache__/TeamElo.cpython-312.pyc
__pycache__/TeamElo.cpython-311.pyc
.gitignore
temp_input.csv

# R specific
.Rhistory
.RData

#Python specific
__pycache__/
*.pyc
